<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802320953608-ro8a2l53lj9ag4nke1p0jsb7ojr2mea4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802320953608-ro8a2l53lj9ag4nke1p0jsb7ojr2mea4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802320953608-0vkf65o9k90ea1d6g2nsk0ggb0hmq5pr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCjxoxwiysWIA-VjM9WBqjxezmTcuq5Kt0</string>
	<key>GCM_SENDER_ID</key>
	<string>802320953608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>flutter.community.ibague.flutterCommunityIbague</string>
	<key>PROJECT_ID</key>
	<string>flutter-community-ibague</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-community-ibague.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802320953608:ios:7a2ae229cefd9827febcbd</string>
</dict>
</plist>